<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="png" href="https://pngimg.com/d/netflix_PNG15.png">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <nav class="navbar">
        <img src="https://ongpng.com/wp-content/uploads/2023/04/7.Netflix-Logo-1728x734-1.png" alt="">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#trending">Trending</a></li>
            <li><a href="#movies">Movies</a></li>
            <li><a href="#tvshows">Tv Shows</a></li>
        </ul>
        <a href="#">Sign Out</a>
    </nav>
    <section id="home">
        <button>Watch</button>
    </section>

    <section class="continue">
        <h1>Continue Watching</h1>
        <div class="cont">
            <img src="homeImg/2.png" alt="">
            <img src="homeImg/3.png" alt="">
            <img src="homeImg/4.png" alt="">

        </div>
    </section>

    <section id="trending">
        <h1>Trendings</h1>
        <div class="trend">
            <img src="homeImg/5.jpg" alt="">
            <img src="homeImg/8.jpg" alt="">
            <img src="homeImg/7.jpg" alt="">
            <img src="homeImg/3.png" alt="">
            <img src="homeImg/4.png" alt="">
        </div>
    </section>

    <section id="movies">
        <h1>Movies</h1>
        <div class="movie">
            <img src="homeImg/9.jpg" alt="">
            <img src="homeImg/10.jpg" alt="">
            <img src="homeImg/11.jpg" alt="">
            <img src="homeImg/12.jpg" alt="">
            <img src="homeImg/13.jpg" alt="">
        </div>
    </section>

    <section id="tvshows">
        <h1>TV Shows</h1>
        <div class="tv">
            <img src="homeImg/14.png" alt="">
            <img src="homeImg/2.png" alt="">
            <img src="homeImg/5.jpg" alt="">
            <img src="homeImg/7.jpg" alt="">
            <img src="homeImg/9.jpg" alt="">
        </div>
    </section>

    <div class="contacts">
        <p>Questions? Call 000-800-919-1694</p>
        <div class="contact">
            
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            <select name="" id="">
                
                <option value="">English</option>
                <option value="">Hindi</option>
            </select>
            <li>Netflix India</li>
        </div>
        <div class="contact">
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            
        </div>
        <div class="contact">
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            
        </div>
        <div class="contact">
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            
        </div>
    </div>
</body>
</html>