<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="icon" type="png" href="https://pngimg.com/d/netflix_PNG15.png">
    <link rel="stylesheet" href="style.css">
</head>
<style>
    *{
        padding:0 ;
        margin: 0;
    }
    body{
        font-family: sans-serif;
    }
    img{
        width: 250px;
        filter: contrast(2);
    }
    .signin{
        background: url(img/netflix.png)no-repeat center center/cover;
        height: 100vh;
        box-shadow: inset 0px 0px 500px 400px rgba(0, 0, 0, 0.694);
        color: white;
    }
    #signin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signin form{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        height: fit-content;
        border-radius: 20px;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.621);

    }
    form h1{
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .signin form input,button{
        width: 300px;
        padding: 15px;
        margin: 10px 0px;
        background-color: rgb(43, 43, 43);
        border-radius: 5px;
        border: none;
        font-size: 15px;
        outline: none;
        color: white;
    }
    button{
        margin-top: 20px;
        width: 300px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: red;

    }

    
    .check{
        display: flex;

    }
    
    .signup{
        display: flex;
        margin-top: 50px;
        margin-right: 120px;
        color: gray;
        

    }
    .signup a{
        color: white;
        text-decoration: none;


    }
    
    @media (max-width:600px){
        .signup{
            margin-top: 0;
            margin-right: 0;
        }

        .signup a{
            margin-top: 15px;
            margin-left: 10px;

        }
        .contacts{
            font-size: 12px;
        }

        
        .contact{
            margin: 10px;
        }
    }
    
</style>
<body>
    <section class="signin">
    <div class="logo">
        <img src="https://ongpng.com/wp-content/uploads/2023/04/7.Netflix-Logo-1728x734-1.png" alt="">
    </div>
    <div id="signin">
        <form action="/signin" method="post">
            <h1>Sign In</h1>
            <input type="email" name="email" id="email" placeholder="Enter your email" required autocomplete="off">
            <input type="password" name="password" id="password" placeholder="Password" required autocomplete="off">
            <% if (typeof errorMessage !== 'undefined') { %>
                <p style="color: red; text-align: center;"><%= errorMessage %></p>
            <% } %>
            <button type="submit">Sign In</button>
            
            <div class="signup">
                <p>New to Netflix?</p><a href="/">Sign up now.</a>
            </div>

        </form>
    </div>
    </section>
    <div class="contacts">
        <div class="contact">
            
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            <select name="" id="">
                
                <option value="">English</option>
                <option value="">Hindi</option>
            </select>
            <li>Netflix India</li>
        </div>
        <div class="contact">
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            
        </div>
        <div class="contact">
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            
        </div>
        <div class="contact">
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed test</li>
            
        </div>
    </div>
</body>
</html>